/* h1{
   color:black;
   font-size: 40px;
   font-weight: 700;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-style: italic;
   padding:5px;
   align-items: center;
   margin-left: 40%;
 box-shadow : '0 3px 5px 2px rgba(33, 203, 243, .3)', 
  
}
.gradient-text {
    background-color: #f3ec78;
    background-image: linear-gradient(#f3ec78, #af4261);
    background-image: conic-gradient(#f3ec78, #af4261);
} */

 .gradient-text {
   
    background-color: #CA4246;
    
  
     background-image: linear-gradient(
          45deg,
          #CA4246 16.666%, 
          #E16541 16.666%, 
          #E16541 33.333%, 
          #F18F43 33.333%, 
          #F18F43 50%, 
          #8B9862 50%, 
          #8B9862 66.666%, 
          #476098 66.666%, 
          #476098 83.333%, 
          #A7489B 83.333%);

    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 

      animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
  
  }
  
  .gradient-text:hover{
      animation: rainbow-text-simple-animation 0.5s ease-in forwards;
  }
  
  
  @keyframes rainbow-text-simple-animation-rev {
      0% {
          background-size: 450%;
      }
      40% {
          background-size: 450%;
      }
      100% {
          background-size: 100%;
      }
  }
  

  @keyframes rainbow-text-simple-animation {
      0% {
          background-size: 100%;
      }
      80% {
          background-size: 650%;
      }
      100% {
          background-size: 650%;
      }
  }
    
  
  
  
  body {
    background-color: #fdf1f0;
  }
  
  header {
    margin-top: 1em;
    margin-top: calc(50vh - 3em);
  }
  
  h1 {
    font-family: " Georgia, 'Times New Roman', Times, serif";
    font-weight: 700;
    font-size: 90px;
    font-style: italic;
    text-align: center;
    margin-bottom: 1px;
    margin-bottom: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 605px;
  } 