
.midtext>p{
    font-size: 50px;
    font-weight: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#ff747b ;
    align-items: center;
    margin-left: 19%;
    background-image: linear-gradient((315deg, #90d5ec 0%, #fc575e 74%));
}
.quote>p{
    font-size: 30px;
    font-weight: 0;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#7e5c3e ;
    align-items: center;
    margin-left: 10%;
    background-image: linear-gradient((315deg, #90d5ec 0%, #fc575e 74%));
}
.cardss{
    background-color: #ff747b;
}
.lined {
  text-decoration: underline;
  -webkit-text-decoration-color: red; /* safari still uses vendor prefix */
  text-decoration-color: white;
}
h2 {
    padding-bottom: 20px;
}
